@use "src/styles/colors";

body {
    margin: 0;
    padding: 0;
    min-width: 1440px;
    background-color: colors.$background-color;

    font-family: sans-serif;
}

@font-face {
    font-family: inter-light;
    src: url("./font/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: inter-thin;
    src: url("./font/Inter-Thin.ttf") format("truetype");
}

@font-face {
    font-family: inter-regular;
    src: url("./font/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: inter-medium;
    src: url("./font/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: inter-bold;
    src: url("./font/Inter-Bold.ttf") format("truetype");
}